.container {
  display: flex;
  flex-direction: column;
  margin: 99px 203px 0 203px;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.blok {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}