.userProfile {
    padding: 20px;
    display: flex;
    justify-content: start;
    align-items: center;
    font-size: 24px;
}

.userPhoto {
    width: 100px;
    height: 100px;
    margin: 30px 30px 15px 30px;
}

.button {
    padding: 10px 30px;
    margin-left: 20px;
}

.userInfo {
    margin-top: 10px;
}

.selectidPage {
    font-weight: bold;
}