.paginator {
    margin: 10px;
}

.pageNumber {
    margin-right: 4px;
    padding: 2px;
    border: 1px solid grey;
}
.pageNumber:nth-child(2) {
    margin-left: 4px;
}

.paginator.selectedPage {
    font-weight: bold;
    border-color: black;
}