.blok {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  text-align: left;
  max-width: 300px;
  margin-right: 20px;

}

.title {
  font-family: Spectral SC;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 27px;
  color: #2E2F22;
}

.text {
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: #2E2F22;
}

.img {
  max-width: 300px;
  border-radius: 10px;
}

.footer {
  display: flex;
  justify-content: space-between;
  font-family: Open Sans;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 26px;
  color: rgba(46, 47, 34, 0.7);
}